.product-card {
    border: 2px solid #000; /* Mengganti warna border menjadi hitam dan menambah ketebalan */
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    background-color: blanchedalmond; /* Menambahkan warna background almon */
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    text-align: center;
}